In [1]:
import twitter_location
import pandas as pd

In [2]:
results = pd.read_excel("../data/test_data.xlsx")
results = results[results["Original"].notna()]

In [3]:
results

                            location   lang Original
0                              Egypt     ar       eg
1                    Albuquerque, NM     en       us
2                          Venezuela     es       ve
3                     Washington, DC     en       us
4                             Canada     en       ca
5                           Mongolia     en       mn
6                   pine barrens nj      en       us
7                             Odzaci     sr       rs
8                         Lima, Peru     es       pe
9                      United States     en       us
10    Chicago SanFran NYC LA BOS SEA     en       us
11                     New York, USA     en       us
12    Northants | East Midlands | UK     en       gb
13                  New Delhi, India     en       in
14                     Riverside, CA     en       us
16                   California, USA     en       us
17                      Iran-Birjand     en       ir
18               Erfurt, Deutschland     de       de
19                 Brussels, Belgium     en       be
20                       Seattle, WA     en       us
21                              Iraq     en       iq
22                         Mogadishu     en       so
23    Main Street, Orange County, CA     en       us
24                      Brooklyn, NY     en       us
25                   London, England  en-gb       gb
27                        Val d'oise     fr       fr
28                 Stockholm, Sweden     en       sw
29                  Bogota, Colombia     es       co
31                             India     en       in
33                 Bogotá - Colombia     es       co
...                              ...    ...      ...
1072               Dhaka, Bangladesh     en       bd
1073                  Tripoli, Libya     ar       ly
1074                       London,UK     en       gb
1075                      St. Gallen     de       ch
1076                     دولة فلسطين     ar       ps
1077                   Hohhot, Earth     en       cn
1078                     Seattle, WA     en       us
1079                       Venezuela     es       ve
1080                Port Said, Egypt     ar       eg
1081                           Nepal     en       np
1082                     Memphis, TN     en       us
1083                       Ohio, USA     en       us
1084           iran ahvaz khozestan      en       ir
1085         England, United Kingdom  en-GB       gb
1086                  Sainthamaruthu     en       lk
1087   NC Museum of Natural Sciences     en       us
1088                     湖北, 中华人民共和国     en       cn
1089   Ba Hàng, Phổ Yên, Thái Nguyên     vi       vn
1090        North Richland Hills, TX     en       us
1091             São Paulo. (BRASIL)     pt       br
1092    Vlaardingen, The Netherlands     en       nl
1093                         Shaanxi     en       cn
1094              Sylhet, Bangladesh     en       bd
1095                      Kazakhstan     ru       kz
1096                      Kazakhstan     ru       kz
1097                       Sri Lanka     en       lk
1098                           Nepal     en       np
1099                   New York, USA     en       us
1100                       Sri Lanka     en       lk
1101                        Colombo      en       lk

[940 rows x 3 columns]

In [4]:
predictions = []
for i in results.index:
    location = results.loc[i]["location"]
    lang = results.loc[i]["lang"]
    predictions.append(twitter_location.prediction.predict(location=location,language=lang))
results["prediction"] = predictions

In [5]:
def CorrectnessTable(df):
    orig = df["Original"]
    data = {}
    col = "prediction"
    correct = sum(orig == df[col])
    incorrect = sum((orig != df[col]))
    total = correct+incorrect
    ratio = float(correct)/total
    data[col] = [correct,incorrect,total,ratio]
    return pd.DataFrame(data=data,index = ["Correct","Incorrect","Total","Ratio"])

In [6]:
CorrectnessTable(results)

           prediction
Correct     880.00000
Incorrect    60.00000
Total       940.00000
Ratio         0.93617

In [7]:
results

                            location   lang Original prediction
0                              Egypt     ar       eg         eg
1                    Albuquerque, NM     en       us         us
2                          Venezuela     es       ve         ve
3                     Washington, DC     en       us         us
4                             Canada     en       ca         ca
5                           Mongolia     en       mn         mn
6                   pine barrens nj      en       us         us
7                             Odzaci     sr       rs         hr
8                         Lima, Peru     es       pe         pe
9                      United States     en       us         us
10    Chicago SanFran NYC LA BOS SEA     en       us         us
11                     New York, USA     en       us         us
12    Northants | East Midlands | UK     en       gb         zw
13                  New Delhi, India     en       in         in
14                     Riverside, CA     en       us         us
16                   California, USA     en       us         us
17                      Iran-Birjand     en       ir         ir
18               Erfurt, Deutschland     de       de         de
19                 Brussels, Belgium     en       be         be
20                       Seattle, WA     en       us         us
21                              Iraq     en       iq         iq
22                         Mogadishu     en       so         so
23    Main Street, Orange County, CA     en       us         us
24                      Brooklyn, NY     en       us         us
25                   London, England  en-gb       gb         gb
27                        Val d'oise     fr       fr         fr
28                 Stockholm, Sweden     en       sw         se
29                  Bogota, Colombia     es       co         co
31                             India     en       in         in
33                 Bogotá - Colombia     es       co         co
...                              ...    ...      ...        ...
1072               Dhaka, Bangladesh     en       bd         bd
1073                  Tripoli, Libya     ar       ly         ly
1074                       London,UK     en       gb         gb
1075                      St. Gallen     de       ch         de
1076                     دولة فلسطين     ar       ps         eg
1077                   Hohhot, Earth     en       cn         cn
1078                     Seattle, WA     en       us         us
1079                       Venezuela     es       ve         ve
1080                Port Said, Egypt     ar       eg         eg
1081                           Nepal     en       np         np
1082                     Memphis, TN     en       us         us
1083                       Ohio, USA     en       us         us
1084           iran ahvaz khozestan      en       ir         ir
1085         England, United Kingdom  en-GB       gb         gb
1086                  Sainthamaruthu     en       lk       None
1087   NC Museum of Natural Sciences     en       us         us
1088                     湖北, 中华人民共和国     en       cn         us
1089   Ba Hàng, Phổ Yên, Thái Nguyên     vi       vn         vn
1090        North Richland Hills, TX     en       us         us
1091             São Paulo. (BRASIL)     pt       br         br
1092    Vlaardingen, The Netherlands     en       nl         nl
1093                         Shaanxi     en       cn         cn
1094              Sylhet, Bangladesh     en       bd         bd
1095                      Kazakhstan     ru       kz         kz
1096                      Kazakhstan     ru       kz         kz
1097                       Sri Lanka     en       lk         lk
1098                           Nepal     en       np         np
1099                   New York, USA     en       us         us
1100                       Sri Lanka     en       lk         lk
1101                        Colombo      en       lk         lk

[940 rows x 4 columns]